{%extends 'layout/base.html'%}

{%block content%}
<body>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        {%for p in prods%}-->
<!--        <div class="col-md-3 col-12" style="padding: 0.7rem">-->
<!--            <div class="card">-->

<!--                <img class="card-img-top" src="{{p.image}}" alt="Card image">-->
<!--                <div class="card-body">-->

<!--                    <h4 class="card-title">{{p.name}}</h4>-->
<!--                    <p class="card-text" style="font-size: larger">Price : {{p.price}}</p>-->
<!--                    <a href="#" class="btn btn-danger">Order</a>-->
<!--                    <a href="/product/{{p.id}}" class="btn btn-primary">Details</a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--        {%endfor%}-->
<!--    </div>-->
<!--</div>-->




</body>
{%endblock%}
